body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    float:right;
    width:100%;
    margin:0px;
    text-align: center;

    
}

ul li{
    float:right;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    


}

.class1 ul
{
    background-color: rgba(92, 78, 78, 0.897);
}

ul li:hover{
    background-color: rgb(37, 228, 37);
    font-weight: bold;
    color:white;
    cursor: pointer;

}

.class2 h1{
    padding-left:280px;
    padding-top: 220px;
    font-weight: bold;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.class2 h2{
    margin:0px;
    padding-left: 280px;
    font-weight: bold;

}

.class2 p{
    padding-top: 20px;
    padding-left: 280px;
    line-height: 35px;
    font-style: oblique;
    padding-right: 250px;
}

.class3{
    padding-left: 280px;
    padding-top: 20px;


}

.class3 button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px ;
    border:2px solid black;
    border-radius: 12px;
    background-color: rgba(255, 166, 0, 0.959);

}

#buttonid{
    margin-left: 30px;
}

.class3 a{
    text-decoration: none;
    font-weight: bold;
    color:black;
    display: block;

}

.class3 button:hover
{
 background-color: rgb(0, 255, 0);
 color:white;
 font-weight: bold;
 cursor: pointer;
}