
body{
    width:70%;
    box-sizing: border-box;
    margin:0px;
    padding:0px;

}



.class1{
    width:100%;
    

}

.class20{
    width:80%;

    margin-top: 20px;
    margin-left:300px;
    margin-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: aqua;
    text-align: center;
    font-weight: bolder;
    border:3px solid aqua;
    border-radius: 7px;
}


.class2{

    width:80%;

    margin-top: 20px;
    margin-left:300px;
    margin-right:20px;
    padding-top:5px;
    padding-bottom:5px;

}

.class2 thead tr th{
padding-top:10px;
padding-bottom: 20px;
padding-right:15px;
padding-left: 20px;
font-size: 18px;

}

.class2 tbody tr td{

padding-top:10px;
padding-bottom: 20px;
padding-left:30px;
padding-right: 20px;

    
}

